.Shop-Container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Product-Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    gap: 45px;
}
.order-container{
    background-color: rgb(243, 207, 194);
    padding: 20px;
    
}
h4{
    text-align: center;
}